<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD APP</title>
</head>
<link rel="stylesheet" href="{% static 'crudapp/css/bootstrap.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<body>
    <div class="container mt-5">
        <h1 class="text-center text-dark alert alert-danger">CRUD APP in Django</h1>
    
    
        {% block content %}
    
    
        {% endblock %}
    </div>
    

    <script src="{% static 'crudapp/js/jqury.js'}"></script>
    <script src="{% static 'crudapp/js/popper.js'}"></script>
    <script src="{% static 'crudapp/js/bootstrap.js'}"></script>
</body>
</html>